<h2 class="session-header">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>
	
	<div class="avatar group">
		
		<%= f.label :avatar, "Choose a New Avatar", class: "avatar-label" %><br />
		
		<div class="avatar-thumb">
			<%= image_tag @user.avatar.url(:thumb) %>
		</div>
		
		<%= f.file_field :avatar %>
	</div>
		
	<div class="edit-form group">
  
	<div class="name-field"><%= f.label :fname, "First Name" %><br />
  <%= f.text_field :fname, :autofocus => true %></div>
	
  <div class="form-field"><%= f.label :lname, "Last Name" %><br />
  <%= f.text_field :lname %></div>
		
  <div class="form-field"><%= f.label :username %><br />
  <%= f.text_field :username %></div>
	
  <div class="form-field"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-field"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div class="form-field"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="form-field"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div class="session-button"><%= f.submit "Update" %></div>
<% end %>

	<h3 class="session-header">Cancel my account</h3>

	<p class="destroy"><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "destroy-button" %></p>
	
	<%= button_to "Back", :back, class: "back-button", method: "get" %>
	</div>

	