<h2 class="session-header">Create a New Account</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
	
  <div class="form-field"><%= f.label :fname, "First Name" %><br />
  <%= f.text_field :fname, :autofocus => true %></div>
	
  <div class="form-field"><%= f.label :lname, "Last Name" %><br />
  <%= f.text_field :lname %></div>
		
  <div class="form-field"><%= f.label :username, "New Username" %><br />
  <%= f.text_field :username %></div>
	
  <div class="form-field"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div class="form-field"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div class="form-field"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="session-button"><%= f.submit "Sign Up" %></div>
<% end %>

<%= render "devise/shared/links" %>
