<section class="content-sidebar">
  <div class="profile-picture">
		<a href="#"><%= image_tag @user.avatar.url(:medium) %></a>
	</div>
  
  <div class="profile-info">
    <h2><%= @user.fname + " " + @user.lname %></h2>
		<% if @user == current_user %>
			<%= button_to "Edit", edit_user_registration_url, method: :get %>
      <%= button_to "New Event", new_event_path, method: :get, class: "update-button created" %>
		<% end %>
    <p>
      <strong>[ username ] </strong><%= @user.username %><br>
      <strong>[ email ] </strong> <%= @user.email %> 
    </p>
  </div>
  
  <nav class="profile-nav">
    <ul>
      <li><a class="attending-events-button" href="#">Attending Events</a></li>
      <li><a class="created-events-button" href="#">Created Events</a></li>
      <!-- <li><a class="users-friends-button" href="#">Friends</a></li> -->
    </ul>
  </nav>
</section>

<section class="content-main">
  
  <header class="content-header">
    <h1><%= @user.username %></h1>
  </header>
  
  <div class="posts">
    <article class="post-event">
    </article>
      
    <article class="post attending">
      <%= render partial: "occurrences/attending_events", locals: {user: @user, attending_events: @attending_events} %>
    </article>
  
    <article class="post created hide">
      <%= render partial: "events/created_events", locals: {user: @user} %>
    </article>
  </div>
  
</section>

<script>
$(document).ready(function () {
  attendButtons();
  eventsShow();
});
</script>