<section class="content-sidebar">
  <div class="profile-picture">
		<a href="#"><%= image_tag @user.avatar.url(:medium) %></a>
	</div>
  
  <div class="profile-info">
    <h2><%= @user.fname + " " + @user.lname %></h2>
		<% if @user == current_user %>
			<%= button_to "Edit", edit_user_registration_url, method: "get" %>
		<% end %>
    <p>
      <strong>[ username ] </strong><%= @user.username %><br>
      <strong>[ email ] </strong> <%= @user.email %> 
    </p>
  </div>
  
  <nav class="profile-nav">
    <ul>
      <li><a href="#">Events Created</a></li>
      <li><a href="#">Attending Events</a></li>
      <li><a href="#">Friends</a></li>
    </ul>
  </nav>
</section>

<section class="content-main">
  
  <header class="content-header">
    <h1><%= @user.username %></h1>
  </header>
  
  <div class="posts">
    
    <article class="post">
      <header class="group">
    
        <div class="post-thumb">
          <a href="#"><%= image_tag @user.avatar.url(:thumb) %></a>
        </div>
    
        <div class="post-info">
          <h3>
						Events <%= @user == current_user ? "you are" : "#{@user.fname.capitalize} is" %> attending...
					</h3>
        </div>
    
      </header>
      <div class="post-text">
				<ul class="created-events">
					<% @attending_events.each do |occurrence| %>
						<li>
							<%= link_to occurrence.event.name, event_path(occurrence.event.id), remote: :true, html: {id: "event-show"} %>
						</li>
					<% end %>
				</ul>
				
      </div>
    </article>
    
  </div>
  
</section>

















