<header class="group">
  <div class="post-info">
    <h3 class="created-title">
      Events <%= user == current_user ? "you" : "#{user.fname.capitalize}" %> created...
    </h3>
  </div>
</header>

<div class="post-content">
  <table id="created-events-table" class="events-table">
  	<% if user.events.empty? %>
      <%= user == current_user ? "You" : "#{user.fname.capitalize}" %> did not create any events...
    
    <% else %>
      <tr>
    		<th>Name</th>
    		<th>Cover</th>
        <th>Venue</th>
        <th>Age Limit</th>
        <th>Type</th>
        <% if user == current_user %>
        <th>Action</th>
        <% end %>
        
    	</tr>
    	<% user.events.each do |event| %>
    		<tr>
    			<td class="event-name"><%= link_to event.name, event_path(event.id), remote: :true, class: "event-show" %></td>
    			<td><%= event.cover ? "$ #{event.cover}" : "-" %></td>
          <td><%= event.place %></td>
          <td><%= event.age_limit %></td>
          <td><%= event.recurring ? "Weekly" : "Special" %></td>
          
          <% if user == current_user %>
          <td>
          <button>Destroy</button>
          <button>Edit</button>
          </td>
          <% end %>
          
    		</tr>
    	<% end %>
    <% end %>
  </table>
</div>
