<header class="group">
  <div class="post-info">
    <h3 class="created-title">
      Events <%= user == current_user ? "you" : "#{user.fname.capitalize}" %> created...
    </h3>
    
  </div>
</header>

<div class="post-content">
	<% if user.events.empty? %>
    
    <h3 class="message"><%= user == current_user ? "You have " : "#{user.fname.capitalize} has " %>not create any events...</h3>
  
  <% else %>
  
    <table id="created-events-table" class="events-table">
      <tr>
    		<th>Name</th>
    		<th>Cover</th>
        <th>Venue</th>
        <th>Age Limit</th>
        <th>Type</th>
        <% if user == current_user %>
        <th>Action</th>
        <% end %>
      
    	</tr>
    	<% user.events.each do |event| %>
    		<tr>
    			<td><%= link_to event.name, event_path(event.id), remote: :true, class: "event-show" %></td>
    			<td><%= event.cover ? "$ #{event.cover}" : "-" %></td>
          <td><%= event.place %></td>
          <td><%= event.age_limit %></td>
          <td><%= event.recurring ? "Weekly" : "Special" %></td>
        
          <% if user == current_user %>
          <td>
            <%= button_to "Destroy", event_path(event.id), method: :delete, confirm: "Deleting this event will delete all occurrences of the event, are you sure you want to do this?", class: "destroy-button created" %>
            <%= button_to "Edit", edit_event_path(event.id), method: :get, class: "update-button created" %>
          </td>
          <% end %>
        
    	<% end %>
    	</tr>
      
    </table>   
  <% end %>
</div>
