<header class="group">
  <div class="post-thumb">
    <a href="#"><%= image_tag user.avatar.url(:thumb) %></a>
  </div>

  <div class="post-info">
    <h3 class="created-title">
      Events <%= user == current_user ? "you" : "#{user.fname.capitalize}" %> created...
    </h3>
  </div>
</header>

<div class="post-content">
  <table id="created-events-table" class="events-table">
  	<% if user.events.empty? %>
      <%= user == current_user ? "You" : "#{user.fname.capitalize}" %> did not create any events...
    
    <% else %>
      <tr>
    		<th>Name</th>
    		<th>Event</th>
    	</tr>
    	<% user.events.each do |event| %>
    		<tr>
    			<td><%= occurrence.event_time.strftime("%a - %b %d") %></td>
    			<td><%= link_to occurrence.event.name, occurrence_path(occurrence.id), remote: :true, class: "occurrence-show" %></td>
    		</tr>
    	<% end %>
    <% end %>
  </table>
</div>