<header class="group">
  <div class="post-info">
    <h3 class="created-title">
      Events <%= user == current_user ? "you" : "#{user.fname.capitalize}" %> created...
    </h3>
  </div>
</header>

<div class="post-content">
  <table id="created-events-table" class="events-table">
  	<% if user.events.empty? %>
      <%= user == current_user ? "You" : "#{user.fname.capitalize}" %> did not create any events...
    
    <% else %>
      <tr>
    		<th class="event-name">Name</th>
    		<th>Cover</th>
        <th>Venue</th>
        <th>Age Limit</th>
        <th>Type</th>
    	</tr>
    	<% user.events.each do |event| %>
    		<tr>
    			<td><%= link_to event.name, event_path(occurrence.id), remote: :true, class: "event-show" %></td>
    			<td><%= event.cover %></td>
          <td><%= event.place %></td>
          <td><%= event.age_limit %></td>
          <td><%= event.recurring ? "Weekly" : "Special" %></td>
    		</tr>
    	<% end %>
    <% end %>
  </table>
</div>
