<%= form_for(@event, remote: true, html: {id: "event-form"}) do |f| %>

	<%= f.radio_button :recurring, true, checked: true %>
	<%= f.label :place, "Weekly Event" %>
	<%= f.radio_button :recurring, false %>
	<%= f.label :place, "Special Event" %><br>
	
	<%= f.label :name, "Event Name: " %><br>
	<%= f.text_field :name %><br>
	
	<%= f.label :place, "Venue: " %><br>
  <%= f.text_field :place %><br>
	
	<label for="occurrence_date">Start Date: </label><br>
	<input id="occurrence_date" name="occurrence[date]" type="date" value="">
	<br>
	
	<label for="occurrence_time">Time: </label>	<br>
	<input id="occurrence_time" name="occurrence[time]" type="time" value="">
	<br>
	
  <%= f.label :cover, "Cover/Fee: " %><br>
  <%= f.number_field :cover %><br>	
	
  <%= f.label :age_limit, "Age Limit: " %><br>
  <%= f.number_field :age_limit, {min: 0, max: 21, step: 21} %><br>
	
  <%= f.label :body, "ETC: " %><br>
  <%= f.text_area :body, size: "80x4" %><br>
	
  <%= f.submit %>
<% end %>
