<div class="event-title group">
	<h2 class="event-name">
		<%= @event.name %>
	</h2>
</div>

<div class="event-content">
  <label>Upcoming Dates:
    <% if @event.recurring %>
      <div class="upcoming">
        <% @event.occurrences.each do |o| %>
        <% next if o.event_time < Date.today %>
          <%= link_to o.event_time.strftime('%a %b %d %Y %I:%M %p'), occurrence_path(o.id), remote: :true, class: "occurrence-show" %>
        <% end %>
      </div>
    <% else %>
      <%= link_to @event.occurrences.first.event_time.strftime('%a %b %d %Y %I:%M %p'), occurrence_path(@event.occurrences.first.id), remote: :true, class: "occurrence-show" %>
    <% end %>
  </label>
  
	<% if @event.place %>
		<label>Venue: <%= @event.place %></label>
	<% end %>

	<% if @event.cover %>
		<label>Cover: <%= @event.cover %></label>
	<% end %>
	
	<% if @event.age_limit %>
		<label>Age Limit: <%= @event.age_limit %></label>
	<% end %>

	<% if @event.body %>
		<label>ETC: 
			<div class="etc">
				<%= @event.body %>
			</div>
		</label>
	<% end %>

</div>