<div class="event-title group">
	<h2 class="event-name">
		<%= @event.name %>
	</h2>
</div>

<div class="event-content">
  <% @event.occurrences.each do |o| %>
  <!-- FORMAT THIS LATER!! -->
  <ul>
    <li>
      <time data-datestamp="<%= o.event_time.to_i %>">
  		  <%= o.event_time.strftime('%a %b %d') %>
  		  <%= o.event_time.strftime('%I:%M %p') %>
  	  </time>
    </li>
  </ul>
  <% end %>
	
	<% if @event.place %>
		<label>Venue: <%= @event.place %></label>
	<% end %>

	<% if @event.cover %>
		<label>Cover: <%= @event.cover %></label>
	<% end %>
	
	<% if @event.age_limit %>
		<label>Age Limit: <%= @event.age_limit %></label>
	<% end %>

	<% if @event.body %>
		<label>ETC: 
			<div class="etc">
				<%= @event.body %>
			</div>
		</label>
	<% end %>

</div>