<div class="event-title group">
	<h2 class="event-name">
		<%= @event.name %>
	</h2>

  <% @event.occurrences.each do |o| %>
    <time data-datestamp="<%= o.event_time.to_i %>" class="event-time">
		  <%= o.event_time.strftime('%a %b %d %Y') %>
		  <%= o.event_time.strftime('%I:%M %p') %>
	  </time>
  <% end %>
</div>

<div class="event-content">
	
	<% if @event.place %>
		<label>Venue: <%= @event.place %></label>
	<% end %>

	<% if @event.cover %>
		<label>Cover: <%= @event.cover %></label>
	<% end %>
	
	<% if @event.age_limit %>
		<label>Age Limit: <%= @event.age_limit %></label>
	<% end %>

	<% if @event.body %>
		<label>ETC: 
			<div class="etc">
				<%= @event.body %>
			</div>
		</label>
	<% end %>
	
</div>