<li class="event">
	<div class="event-title group">
		<h2 class="event-name">
			<%= o.event.name %>
		</h2>
		<time data-datestamp="<%= o.event_time.to_i %>" class="event-time">
			<%= o.event_time.strftime('%a %b %d %Y') %>
			<%= o.event_time.strftime('%I:%M %p') %>
		</time>
	</div>

	<div class="event-content hide">

		<label>Venue: <%= o.event.place %></label>

		<label>Cover: <%= o.event.cover %></label>

		<label>Age Limit: <%= o.event.age_limit %></label>

		<label>Music: <%= o.event.music %></label>

		<label>Floor: <%= o.event.floor %></label>

		<label>ETC: 
			<div class="etc">
				<%= o.event.body %>
			</div>
		</label>

	</div>
</li>

<!-- age_limit: null
body: ""
cover: null
created_at: "2013-08-08T16:16:47Z"
floor: ""
id: 6
music: ""
name: "past"
place: "thing"
reccurring: true
updated_at: "2013-08-08T16:16:47Z"
user_id: 2

var prependData = "<li class='event'>
	<div class='event-title group'>
		<h2 class='event-name'>
			" + eventData['name'] + "
		</h2>
		<time class='event-time'>
			" + dateString + "
		</time>
	</div>

	<div class='event-content hide'>

		<label>Venue: "+ eventData['place'] +"</label>

		<label>Cover: "+ eventData['cover'] +"</label>

		<label>Age Limit: "+ eventData['age_limit'] +"</label>

		<label>Music: "+ eventData['music'] +"</label>

		<label>Floor: "+ eventData['floor'] +"</label>

		<label>ETC: 
			<div class='etc'>
				"+ eventData['body'] +"
			</div>
		</label>

	</div>
</li>"
 -->
