<header class="group">
  <div class="post-info">
    <h3 class="attending-title">
      Events <%= user == current_user ? "you are" : "#{user.fname.capitalize} is" %> attending...
    </h3>
  </div>
</header>

<div class="post-content">
  <% if attending_events.empty? %>
    
    <h3 class="message"><%= user == current_user ? "You are" : "#{user.fname.capitalize} is" %> not attending any events...</h3>
  
  <% else %>    
    <table id="attending-events-table" class="events-table">
      <tr>
    		<th>Date</th>
    		<th>Event</th>
        <% unless user == current_user %>
        <th>Action</th>
        <% end %>
    	</tr>
    	<% attending_events.each do |occurrence| %>
    		<tr>
    			<td><%= occurrence.event_time.strftime("%a - %b %d") %></td>
    			<td class="event-name"><%= link_to occurrence.event.name, occurrence_path(occurrence.id), remote: :true, class: "occurrence-show" %></td>
          
          <% unless user == current_user %>
          <td>
            <%= button_to "Attend", occurrence_attendings_path(occurrence.id), remote: :true, method: :post,
                          class: "create-button attending#{" hide" if current_user.attending_events.include?(occurrence)}" %>
            <%= button_to "Unattend", occurrence_attendings_path(occurrence.id), remote: :true, method: :delete, 
                          class: "destroy-button attending#{" hide" unless current_user.attending_events.include?(occurrence)}" %>
          </td>
          <% end %>
    		</tr>
    	<% end %>
    </table>
  <% end %>
</div>