<div class="status-container"></div>

<ul class="occurrences-list">
  <% occurrences.each do |o| %>
    <li class="group">
    
      <form action="<%= occurrence_path(o.id) %>" method="post" data-remote='true' class="occurrence-edit-form">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        
        <label for="occurrence_date">Date: </label>
        <input class="occurrence_date" name="occurrence[date]" type="date" value="<%= o.event_time.strftime('%Y-%m-%d') %>">

        <label for="occurrence_time">Time: </label>
        <input class="occurrence_time" name="occurrence[time]" type="time" value="<%= o.event_time.strftime("%H:%M") %>">

        <input type="submit" value="Save" class="update-button edit">        
      </form>
    
      <%= button_to "Destroy", occurrence_path(o.id), method: :delete, confirm: "Are you sure?", remote: true, class: "destroy-button edit" %>
    </li>
  <% end %>
</ul>
<%= paginate occurrences %>