<div class="event-title group">
	<h2 class="event-name">
		<%= @occurrence.event.name %>
  </h2>
</div>

<div class="event-content">
  <label>
	  <%= @occurrence.event_time.strftime('%a %b %d %Y') %>
  </label>
  
  <label>
	  <%= @occurrence.event_time.strftime('%I:%M %p') %>
  </label>
  
	<% if @occurrence.event.place %>
		<label>Venue: <%= @occurrence.event.place %></label>
	<% end %>

	<% if @occurrence.event.cover %>
		<label>Cover: <%= @occurrence.event.cover %></label>
	<% end %>
	
	<% if @occurrence.event.age_limit %>
		<label>Age Limit: <%= @occurrence.event.age_limit %></label>
	<% end %>

	<% if @occurrence.event.body %>
		<label>ETC: 
			<div class="etc">
				<%= @occurrence.event.body %>
			</div>
		</label>
	<% end %>
  
  <label>Posted by <%= @occurrence.event.user.username %>.</label>
	
  <label>Attendings list...</label>
  <ul>
    <% @occurrence.attending_users.each do |user| %>
    <li>
      <a href="<%= user_path(user.id) %>"><%= user.username %></a>
    </li>
    <% end %>
  </ul>
  
</div>

